* {
	color: #c7c7c7;
	font-size: 1.3em;
	text-decoration: none;
	user-select: none;
}

body {
	height: 100vh;
	background: url("../../assets/background.jpg") no-repeat center fixed;
	background-size: cover;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#logo {
	width: 100px;
	margin-top: 110px;
	margin-bottom: 75px;
}

#content {
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

form {
	width: 100%;

	#user,
	#password {
		width: calc(100% - 50px);
		height: 25px;
		margin-bottom: 25px;
		border-radius: 10px;

		width: calc(100% - 50px);
		margin-bottom: 25px;
		background-color: rgba(30, 30, 30, 0.5);
		border: 1px solid #00babc;
		padding: 8px 20px 5px 30px;
	}

	#remember-me-container {
		height: 29px;
		margin-bottom: 20px;
		font-size: 1.4em;

		#remember-me {
			width: 16px !important;
			height: 16px !important;
			margin-right: 0.5em;
			cursor: pointer;
		}
	}

	#submit {
		width: 100%;
		height: 53px;
		padding-left: 10px;
		padding-right: 10px;

		background-color: #00babc;
		color: #fff;
		font-weight: 800;
		letter-spacing: 1px;
		font-size: 1.8em;

		user-select: none;
		cursor: pointer;
		border: none;
	}

	#intra,
	#forgot-password {
		margin-top: 20px;
		font-size: 1em;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	#intra {
		margin-top: 10px;
	}
}

.center {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.pointer {
	cursor: pointer;
}