<body>
    <img id="logo" src="../../assets/42_logo.svg" alt="42 logo">

    <div id="content">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- <div>
                <input id="user" type="text" formControlName="user" placeholder="Login or email">
            </div>
            <div>
                <input id="password" type="password" formControlName="password" placeholder="Password">
            </div>
            <div id="remember-me-container">
                <label for="remember-me">
                    <input id="remember-me" type="checkbox" formControlName="remember_me">Remember me
                </label>
            </div> -->
            <div>
                <button id="submit" type="submit">ACCESS WITH 42 LOGIN</button>
            </div>
            <!-- <div class="center">
                <a id="intra" href="https://signin.intra.42.fr">Go to official 42 intra</a>
            </div> -->
        </form>
    </div>
</body>